certifi==2018.1.18
chardet==3.0.4
click==6.7
DateTime==4.2
environ==1.0
Flask==0.12.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pytz==2017.3
requests==2.18.4
unicodecsv==0.14.1
urllib3==1.22
Werkzeug==0.15.3
wincertstore==0.2
zope.interface==4.4.3
